<!doctype html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Golpes digitais</title>
    <script src="https://unpkg.com/feather-icons"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'envio' %}">Envios</a></li>
                <li><a href="{% url 'comentarios' %}">Comentários</a></li>
                <li><a href="{% url 'dicas' %}">Dicas</a></li>
                <li><a href="#sobre">Sobre</a></li>
            </ul>
<!--             
            <div id="divBusca">
                <input type="text" id="txtBusca" placeholder="Buscar..." />
                <img src="{% static 'blog/search.png' %}" id="btnBusca" alt="Buscar" />
            </div> -->
        </nav>



        <div id="home" class="header-content">
            <h1>Vulnerabilidade digital</h1>
            <p>Vanha se informar.</p>
            <button><a href="{% url 'comentarios' %}">Saiba mais</a></button>

    </header>

    <section id="card-artigo" class="card-artigo">
        <div id="home-card" class="card-scroll">
            <div class="card">
                <a href="Artigo1"><img class="card-imag" src="{% static 'blog/Artigo1.jpg' %}" alt="Artigo"></a>
            </div>
            <div class="card">
                <a href="Artigo2"><img class="card-imag" src="{% static 'blog/Artigo2.png' %}" alt="Artigo"></a>
            </div>
            <div class="card">
                <a href="Artigo3"><img class="card-imag" src="{% static 'blog/Artigo3.png' %}" alt="Artigo"></a>
            </div>
            <div class="card">
                <a href="Artigo4"><img class="card-imag" src="{% static 'blog/Artigo4.png' %}" alt="Artigo"></a>
            </div>
            <div class="card">
                <a href="Artigo5"><img class="card-imag" src="{% static 'blog/Artigo5.jpg' %}" alt="Artigo"></a>
            </div>
            <div class="card">
                <a href="Artigo6"><img class="card-imag" src="{% static 'blog/Artigo6.jpg' %}" alt="Artigo"></a>
            </div>
        </div>
    </section>

    <section id="comentario" class="comentario">
        <h1 class="envio">Comentários recentes.</h1>
        <div class="golpes-comentario">
            <div class="card-c">
                <img class="card-golpes" src="{% static 'blog/Artigo6.jpg' %}" alt="Artigo">
                <div class="card-content">
                        <h2>Novos golpes aplicados pela internet</h2>
                        <p id="p-principal">Tosuere minim, porttitor suspendisse. Accusantium delectus amet urna! Dictum voluptas posuere tincidunt, commodi morbi sapiente viverra dui eget, sodales tellus eveniet possimus. Iure dolorum lectus varius ipsum repudiandae! Iure congue
                            excepteur. Magna dis magni quasi egestas, repudiandae doloribus maxime minima. Repellat natus venenatis eget fugiat lectus. Aliquet tincidunt netus reiciendis occaecat laoreet? Taciti hac? Aspernatur, ultricies, eu consectetuer,
                            non proin ducimus similique duis, diamlorem, parturient ipsam? </p>
                </div>

            </div>

            <div class="card-c">
                <img class="card-golpes" src="{% static 'blog/Artigo6.jpg' %}" alt="Artigo">
                <div class="card-content">
                    <h2>Novos golpes aplicados pela internet</h2>
                    <p id="p-principal">Tosuere minim, porttitor suspendisse. Accusantium delectus amet urna! Dictum voluptas posuere tincidunt, commodi morbi sapiente viverra dui eget, sodales tellus eveniet possimus. Iure dolorum lectus varius ipsum repudiandae! Iure congue
                        excepteur. Magna dis magni quasi egestas, repudiandae doloribus maxime minima. Repellat natus venenatis eget fugiat lectus. Aliquet tincidunt netus reiciendis occaecat laoreet? Taciti hac? Aspernatur, ultricies, eu consectetuer,
                        non proin ducimus similique duis, diamlorem, parturient ipsam? </p>
                </div>

            </div>

            <div class="card-c">
                <img class="card-golpes" src="{% static 'blog/Artigo6.jpg' %}" alt="Artigo">
                <div class="card-content">
                    <h2>Novos golpes aplicados pela internet</h2>
                    <p id="p-principal">Tosuere minim, porttitor suspendisse. Accusantium delectus amet urna! Dictum voluptas posuere tincidunt, commodi morbi sapiente viverra dui eget, sodales tellus eveniet possimus. Iure dolorum lectus varius ipsum repudiandae! Iure congue
                        excepteur. Magna dis magni quasi egestas, repudiandae doloribus maxime minima. Repellat natus venenatis eget fugiat lectus. Aliquet tincidunt netus reiciendis occaecat laoreet? Taciti hac? Aspernatur, ultricies, eu consectetuer,
                        non proin ducimus similique duis, diamlorem, parturient ipsam? </p>
                </div>

            </div>
        </div>

    </section>

    <section id="contatos" class="contato">
        <div class="contato-card" id="scrolling-box">
            <h4>
                <section id="sobre">Sobre nós</section>
            </h4>
            <ul>
                <li><i data-feather="book"></i>Projeto Integrador</li>
                <li><i data-feather="home"></i>Polo Tecnologico Sorocaba</li>
                <li><i data-feather="users"></i>110-0018</li>

            </ul>
            </ul>
            </ul>

        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d117111.67099693531!2d-47.50683059089142!3d-23.469851360920426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c58abceb48f503%3A0x947f99ac59d0781b!2sSorocaba%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1637523593188!5m2!1spt-BR!2sbr"
            width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    </section>

    <script>
        feather.replace();

        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function(e) {
                e.preventDefault();

                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>
</body>

</html>