<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Golpes digitais - Envios</title>

    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <nav class="menu">
            <ul>
                <li class="menu-nav"><a href="index.html">Home</a></li>
                <li class="menu-nav"><a href="envio.html">Envios</a></li>
                <li class="menu-nav"><a href="golpes.html">Golpes</a></li>
                <li class="menu-nav"><a href="dicas.html">Dicas</a></li>
                <li class="menu-nav"><a href="#sobre">Sobre</a></li>
            </ul>
            <div id="divBusca">
                <input type="text" id="txtBusca" placeholder="Buscar..." />
                <img src="search.png" id="btnBusca" alt="Buscar" />
            </div>
        </nav>

        <section id="card-artigo" class="card-artigo">
            <div id="home-card" class="card-scroll">
                <div class="card">
                    <a href="Artigo1"><img class="card-imag" src="Artigo1.jpg" alt="Artigo"></a>
                </div>
                <div class="card">
                    <a href="Artigo2"><img class="card-imag" src="Artigo2.png" alt="Artigo"></a>
                </div>
                <div class="card">
                    <a href="Artigo3"><img class="card-imag" src="Artigo3.png" alt="Artigo"></a>
                </div>
                <div class="card">
                    <a href="Artigo4"><img class="card-imag" src="Artigo4.png" alt="Artigo"></a>
                </div>
                <div class="card">
                    <a href="Artigo5"><img class="card-imag" src="Artigo5.jpg" alt="Artigo"></a>
                </div>
                <div class="card">
                    <a href="Artigo6"><img class="card-imag" src="Artigo6.jpg" alt="Artigo"></a>
                </div>
            </div>
        </section>

        <section>
            <h1>Conhece um novo golpe? Compartilhe com nossa rede e mantenha todos informados.
            </h1>

            <main>
                <form>
                    <label for="nomesobrenome">Nome e sobrenome</label>
                    <input type="text" id="nomesobrenome" class="input-padrao" required>

                    <label for="email">Email</label>
                    <input type="email" id="email" class="input-padrao" required placeholder="seuemail@dominio.com">

                    <label for="telefone">Assunto</label>
                    <input type="tel" id="assunto" class="input-padrao" required>

                    <label for="mensagem">Mensagem</label>
                    <textarea cols="70" rows="10" id="mensagem" class="input-padrao" required></textarea>

                    <input type="submit" value="Enviar" class="enviar">
                </form>
            </main>
        </section>
        <footer>
            <section class="sobre">
                <h2 class="sobre-h2">Sobre Nós</h2>
                <p class="sobre-p">Tosuere minim, porttitor suspendisse. Accusantium delectus amet urna! Dictum voluptas posuere tincidunt, commodi morbi sapiente viverra dui eget, sodales tellus eveniet possimus. Iure dolorum lectus varius ipsum repudiandae! Iure congue
                    excepteur. Magna dis m</p>
                <p class="copyright">&copy; Copyright Vulnerabilidade Digital- 2021</p>
        </footer>
    </header>
</body>

</html>