<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Golpes digitais</title>

    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav class="menu">
            <ul>
                <li class="menu-nav"><a href="#home">Home</a></li>
                <li class="menu-nav"><a href="#envios">Envios</a></li>
                <li class="menu-nav"><a href="#golpes">Golpes</a></li>
                <li class="menu-nav"><a href="#dicas">Dicas</a></li>
                <li class="menu-nav"><a href="#sobre">Sobre</a></li>
            </ul>
        </nav>

        <section id="card-artigo" class="card-artigo">
            <div id="home-card" class="card-scroll">
                <div class="card">
                    <a href="Artigo1"><img class="card-imag" src="Artigo1.jpg" alt="Artigo"></a>
                </div>
                <div class="card">
                    <a href="Artigo2"><img class="card-imag" src="Artigo2.png" alt="Artigo"></a>
                </div>
                <div class="card">
                    <a href="Artigo3"><img class="card-imag" src="Artigo3.png" alt="Artigo"></a>
                </div>
                <div class="card">
                    <a href="Artigo4"><img class="card-imag" src="Artigo4.png" alt="Artigo"></a>
                </div>
                <div class="card">
                    <a href="Artigo5"><img class="card-imag" src="Artigo5.jpg" alt="Artigo"></a>
                </div>
                <div class="card">
                    <a href="Artigo6"><img class="card-imag" src="Artigo6.jpg" alt="Artigo"></a>
                </div>
            </div>
        </section>

        <section id="principal-artigo" class="principal-artigo">
            <div class="principal-card">
                <div class="principal">
                    <a href="Artigo6"><img class="principal-imag" src="Artigo6.jpg" alt="Artigo"></a>
                    <h2>Novos golpes aplicados pela internet</h2>
                    <p>Tosuere minim, porttitor suspendisse. Accusantium delectus amet urna! Dictum voluptas posuere tincidunt, commodi morbi sapiente viverra dui eget, sodales tellus eveniet possimus. Iure dolorum lectus varius ipsum repudiandae! Iure congue
                        excepteur. Magna dis magni quasi egestas, repudiandae doloribus maxime minima. Repellat natus venenatis eget fugiat lectus. Aliquet tincidunt netus reiciendis occaecat laoreet? Taciti hac? Aspernatur, ultricies, eu consectetuer,
                        non proin ducimus similique duis, diamlorem, parturient ipsam? Felis curae! Etiam eveniet dis. Laudantium sunt provident, class mus ligula ornare accusantium magnam. Nisl eu nemo laudantium, veniam, fames expedita, facere lobortis
                        non? </p>
                    <button>Leia mais</button>
                </div>

                <div class="principal">
                    <a href="Artigo4"><img class="principal-imag" src="Artigo4.png" alt="Artigo"></a>
                    <h2>Novos golpes aplicados pela internet</h2>
                    <p>Tosuere minim, porttitor suspendisse. Accusantium delectus amet urna! Dictum voluptas posuere tincidunt, commodi morbi sapiente viverra dui eget, sodales tellus eveniet possimus. Iure dolorum lectus varius ipsum repudiandae! Iure congue
                        excepteur. Magna dis magni quasi egestas, repudiandae doloribus maxime minima. Repellat natus venenatis eget fugiat lectus. Aliquet tincidunt netus reiciendis occaecat laoreet? Taciti hac? Aspernatur, ultricies, eu consectetuer,
                        non proin ducimus similique duis, diamlorem, parturient ipsam? Felis curae! Etiam eveniet dis. Laudantium sunt provident, class mus ligula ornare accusantium magnam. Nisl eu nemo laudantium, veniam, fames expedita, facere lobortis
                        non? </p>
                    <button>Leia mais</button>
                </div>


</body>

</html>
